@import "tailwindcss";

:root {
  background-color: #E3E5E7;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
  box-sizing: border-box;
  overflow: hidden;
}

:root.dark-mode {
  background-color: #2463AE;
  color: white;
}

body {
  min-height: 100vh;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating-container {
  animation: rotate 20s linear infinite;
}