@import "tailwindcss";

:root {
  background-color: #fcf7f8;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
  box-sizing: border-box;
  overflow: hidden;
}

:root.dark-mode {
  background-color: #2463AE;
  color: white;
}

body {
  min-height: 100vh;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating-container {
  animation: rotate 20s linear infinite;
}

/* Scrollbar solo para navegadores basados en WebKit (Chrome, Edge, Safari) */

.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Grosor */

}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4b5563; /* Color del "pulgar" */
  border-radius: 4px; /* Bordes redondeados */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f2937; /* Color del fondo */
}
